name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@stable/zed
        with:
          repository: openstack/cinder
          ref: 9871cfefa8b8ce801ada787341b8048cf6a823d5

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@stable/zed
        with:
          image-name: cinder
          base-image-tag: zed
          build-contexts: cinder=openstack/cinder
          push: ${{ github.event_name != 'pull_request' }}
